<!-- Construct the dict of author's contribution percentage -->
{% set contribs = {} %}
{% set id_for_email = {} %}

{% for author in committers %}
  {% do contribs.setdefault(author.login, {}) %}
  {% do contribs[author.login].update({
    'name':author.login,
    'url':author.url
  }) %}
  {% for email in author.emails %}
    {% do id_for_email.__setitem__(email, author.login) %}
  {% endfor %}
{% endfor %}

{% for author in git_info.page_authors %}
  {% set id = id_for_email[author.email] if id_for_email[author.email] else author.name %}
  {% do contribs.setdefault(id, {'name':id, 'url':'#'}) %}
  {% do contribs[id].__setitem__(
    'contribution',
    contribs[id].get('contribution', 0) + author.contribution[:-1]|float
  ) %}
{% endfor %}

{% set contribs = contribs.values() |
  selectattr('contribution') |
  sort(attribute='contribution',reverse=true) %}

{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}


<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
  <li class="contributors-holder" style="list-style-type: none">
    <span class="contributors-text">Contributors</span>
    <ul class="contributors" data-bi-name="contributors">
      {%- for user in contribs -%}
      <li><a href="{{ user.url }}" title="{{ user.name }}" data-bi-name="contributorprofile" target="_blank">{{ user.name }}</a> ({{user.contribution}}%)</li>
      {%- endfor -%}
    </ul>
  </li>
</ul>   